---
import { PortableText } from 'astro-portabletext'
import Container from '../../components/atoms/Container.astro'
import Heading from '../../components/molecules/Heading.astro'
import CampsGrid from '../../components/organisms/CampsGrid.astro'
import type { CampsData } from '../../data/digests/digest-camps-data'
import { getCampsData } from '../../data/get-camps-data'
import Layout from '../../layouts/Layout.astro'
import { highlightRandomWord } from '../../utils'

const { meta, intro, upcomingCamps, title } =
  (await getCampsData()) as CampsData

---

<Layout title={meta.title} description={meta.description}>
  <main>
    <section class="camps-section-intro">
      <Container>
        <div class="heading-wrapper">
          <Heading as="h1" size='xl' text={highlightRandomWord(title)} />
          <div class="portable-text-wrapper">
            <PortableText value={intro}/>
          </div>
        </div>
      </Container>
    </section>
    {upcomingCamps && (
        <section>
      <Container>
        <div class="camps-wrapper">
          <Heading as="h1" size='xl' text='Nadchodzące obozy' />
          <CampsGrid data={upcomingCamps} />
        </div>
      </Container>
    </section>
       )}
  </main>
</Layout>

<style>
  .camps-section-intro {
    padding-top: 14rem;
  }

  .camps-wrapper {
    margin: 5rem 0;

    h1 {
      margin-bottom: 4rem;
    }
  }
</style>