---
import { Image } from 'astro:assets';
import { PortableText } from 'astro-portabletext';
import type { HomePage } from '../../data/digests/digest-home-page-data';
import { urlForImage } from '../../utils';
import Container from '../atoms/Container.astro';
import ArrowRight from '../atoms/icons/ArrowRight.astro';
import EventTileDetails from '../molecules/EventTileDetails.astro';
import Heading from '../molecules/Heading.astro';

interface Props {
	data: HomePage['events'];
}

const { data } = Astro.props;
---

<section id="events" data-weirdo-nav-target="events" class="section">
  <Container>
    <div class="heading-wrapper">
      <div data-animation="fade-down">
        
        <Heading as="h1" size="xl" text={data.title} />

      </div>
      <p class="lead-color" data-animation="fade-down">{data.lead}</p>
    </div>
    {!data.events || data.events.length === 0 ? (
      <p>Brak wydarzeń do wyświetlenia</p>
    ) : (
    <ul class="tiles-wrapper">
      {data.events.map((event) => {
        return (
          <li class="tile-wrapper">
            <div class="tile-image-wrapper" style={{ backgroundColor: `${event.bgColor}`}}>
              <div class="image-wrapper">
              <Image
            src={urlForImage(event.image.source)
            .width(600)
            .format("webp")
            .quality(80)
            .url()}
              alt={event.image.alt}
              width={600}
              height={600}
            />
              </div>
            </div>
            <div class="tile-content">
              <div class="tile-heading-wrapper" >
                <Heading as="h2" size="lg" text={event.name} />
                <div class="tile-heading-details">
                  <EventTileDetails 
                    price={event.price} 
                    location={event.place} 
                    startDate={event.startDate.date} 
                    endDate={event.endDate.date} 
                    startTime={event.startDate.time} 
                    endTime={event.endDate.time}
                  />
                </div>
              </div>
              <div class="tile-portable-text-wrapper">
                <PortableText value={event.description} />
              </div>
              {event.link && (
                <a href={event.link} class="weirdo-button--color-accent-2" target="_blank">
                  Zapisy na wydarzenie
                  <ArrowRight width={24} />
                </a>
              )}
            </div>
          </li>
        )
      })}
    </ul>
    )}
  </Container>
</section>

<style>
  .tiles-wrapper {
    display: grid;
    gap: 4rem;
    margin: 0 auto;
    
    @media(min-width: 768px) {
      width: 90%;
    }

    @media(min-width: 1280px) {
      width: 70%;

    }
  }

  .tile-wrapper {
    position: relative;
    grid-template-columns: 30% 1fr;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 5rem;

    @media(min-width: 768px) {
      display: grid;    
    }
  }

  .tile-image-wrapper {
    position: relative;
    /* background-color: var(--weirdo-color-accent-3); */
  }

  .image-wrapper {
    position: relative;
    width: 100%;

    
    &::after {
      content: "";
      display: block;
      padding-bottom: 66%;  
    }

    @media (min-width: 768px) {
      &::after {
        padding-bottom: 100%;
      }
    }
    

    img {
      position: absolute;
      top: 0%;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
      transform: scale(0.8) rotate(-15deg);

      @media (min-width: 768px) {
        top: 25%;
        transform: scale(1.25) rotate(-15deg);
      }
    }

  }

  .tile-portable-text-wrapper {
    margin-bottom: 3rem;

    p {
      margin-bottom: 0.5em;
      line-height: 1.25;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .tile-content {
    padding: 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .tile-heading-wrapper {
    position:relative;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    border-bottom: 2px solid var(--weirdo-color-accent-3);
    padding: 1.5rem 0;
    margin-bottom: 1.5rem;
    
    @media (min-width: 768px) {
      border-top: 2px solid var(--weirdo-color-accent-3);
    }
  }

  .tile-footer {
    /* border-top: 2px solid var(--weirdo-color-accent-3);
    border-bottom: 2px solid var(--weirdo-color-accent-3); */
    padding: 0 0 1rem;
    margin-bottom: 1rem;

    p span {
      font-weight: bold;
    }
  }
  
</style>