---
import type { HomePage } from '../data/digests/digest-home-page-data'
import { getHomePageData } from '../data/get-home-page-data'

import Banner from '../components/organisms/Banner.astro'
import BannerSlider from '../components/organisms/BannerSlider.astro'
import SectionAbout from '../components/templates/SectionAbout.astro'
import SectionActivities from '../components/templates/SectionActivities.astro'
import SectionCamps from '../components/templates/SectionCamps.astro'
import SectionEvents from '../components/templates/SectionEvents.astro'
import SectionValues from '../components/templates/SectionValues.astro'
import Layout from '../layouts/Layout.astro'

const { values, banners, about, activities, camps, events, metaData } = (await getHomePageData()) as HomePage
---

<Layout title={metaData.metaTitle} description={metaData.metaDescription}>
	<main>
		<section id="home" data-weirdo-nav-target="home">
		{banners.length > 1 
			? <BannerSlider data={banners} />
		 	: <Banner data={banners[0]} />
		}
		</section>
		{about && <SectionAbout data={about} />}
		{values && (
			<SectionValues data={values}	/>
		)}
		{activities && <SectionActivities data={activities}>}
		{camps && (
			<SectionCamps data={camps} />
		)}
		{events && (
			<SectionEvents data={events} />
		)}
	</main>
</Layout>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
