---
import type { HomePage } from '../data/digests/digest-home-page-data'
import { getHomePageData } from '../data/get-home-page-data'

import Banner from '../components/organisms/Banner.astro'
import SectionAbout from '../components/templates/SectionAbout.astro'
import SectionActivities from '../components/templates/SectionActivities.astro'
import SectionEvents from '../components/templates/SectionEvents.astro'
import SectionValues from '../components/templates/SectionValues.astro'
import Layout from '../layouts/Layout.astro'

const { values, banners, about, activities, events } = (await getHomePageData()) as HomePage
---

<Layout title="Klub Sportowy Akademia Gimnastyki" description='Witaj na stronie KS Akademii Gimnastyki'>
	<main>
		{banners && banners.map((banner) => (
			<Banner data={banner} />
		))}
		{about && <SectionAbout data={about} />}
		{values && (
			<SectionValues data={values}	/>
		)}
		{activities && <SectionActivities data={activities}>}
		{events && events.events.length > 0 && (
			<SectionEvents data={events} />
		)}
	</main>
</Layout>
