---
import { Image } from 'astro:assets'
import type { HomePage } from '../data/digests/digest-home-page-data'
import { getGlobalData } from '../data/get-global-data'
import { getHomePageData } from '../data/get-home-page-data'
import { urlForImage } from '../utils'

import Layout from '../layouts/Layout.astro'

const { values, banners, about } = (await getHomePageData()) as HomePage
const { companyName, companyEmail, companyPhone } = await getGlobalData()
---

<Layout title="Welcome to Astro">
	<main>
		{banners && (
			<h1>{banners[0].title}</h1>
			<p>{banners[0].lead}</p>
			<Image
        src={urlForImage(banners[0].images.mainImage.source)
        	.width(1920)
          .format("webp")
                    .quality(80)
                    .url()}
                  alt={banners[0].images.mainImage.alt}
                  width={1920}
                  height={950}
                />
		)}
		{about && (
			<h1>{about.title}</h1>
			<p>{about.lead}</p>
		)}
		{values && (
			<h1>{values.title}</h1>
			<p>{values.lead}</p>
			<ul>
				{values.values.map((value) => (
					<li>
						<h2>{value.title}</h2>
						<p>{value.description}</p>
					</li>
				))}
			</ul>
		)}
		{companyName && (
			<h1>{companyName}</h1>
			<p>{companyEmail}</p>
			<p>{companyPhone}</p>
		)}
	</main>
</Layout>
