---
import { PortableText } from 'astro-portabletext'
import type { CampItem } from '../../data/digests/digest-camps-data'

interface Props {
  data: CampItem
}

const { name, startDate, endDate, location, price, description } = Astro.props.data
---

<div class="camp-tile">
  <h3>{name}</h3>
  <p>{startDate} - {endDate}</p>
  <p>{location}</p>
  <p>{price}</p>
  <PortableText value{description}/>
</div>

<style>
  .camp-tile {
    box-shadow: var(--weirdo-shadow-default);
  }
</style>