---
import type { GlobalData } from '../../data/types'
import Container from '../atoms/Container.astro'
import Mail from '../atoms/icons/MailIcon.astro'
import Phone from '../atoms/icons/Phone.astro'
import Heading from '../molecules/Heading.astro'

interface Props {
  data: GlobalData
}

const { data } = Astro.props
---

<footer class="footer">
  <Container>
    <div class="wrapper">
      
      {data && (
        <Heading as="h1" size="md" text={data.companyName} />
          <div class="items-wrapper">
          <a class="link" href={`tel:${data.companyPhone}`}>
            <Phone size={28} />
            {data.companyPhone}
          </a>
          <a class="link" href={`mailto:${data.companyEmail}`}>
            <Mail size={28}/>
            {data.companyEmail}
          </a>
          </div>
      )}
      </div>
      <div class="regulations-wrapper">
        <div class="grid-wrapper">
          <div class="items-wrap">
            <a class="link" href='/regulamin-klubu-sportowego-akademia-gimnastyki'>Regulamin Klubu Sportowego Akademia Gimnastyki</a>
          </div>
          <div>
            {data.companyAccountDetails && (
              <p><strong>Dane do przelewu:</strong></p>
              <p>{data.companyAccountDetails[0].companyAccountReceiver}</p>
              <p>Nr konta do wpłat: {data.companyAccountDetails[0].companyAccountNumber}</p>
              <p>{data.companyAccountDetails[0].companyAccountDescription}</p>
            )}
            </div>
        </div>
      </div>  
  </Container>
</footer>

<style>
  .footer {
    background-color: var(--weirdo-color-accent-3);
    padding: 2rem 0;
    
    @media(min-width: 768px) {
      margin-top: 8rem;
    }
    
    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @media(min-width: 768px) {
        flex-direction: row;
       gap: 5rem;
      }
    }

    .link {
      position: relative;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &:hover {
        color: var(--weirdo-color-white);
        fill: var(--weirdo-color-white);
      }
    }
  }

  .items-wrap {
    display: flex;
    align-items: flex-end;
  }

  .items-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media(min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .regulations-wrapper {
    font-size: var(--weirdo-text-md);
    border-top: 1px solid var(--weirdo-color-black);
    margin-top: 2rem;
    padding-top: 1rem;
  }
</style>