---
import Container from '../atoms/Container.astro'
import ArrowRight from '../atoms/icons/ArrowRight.astro'
import Mail from '../atoms/icons/MailIcon.astro'
import Phone from '../atoms/icons/Phone.astro'
import Heading from '../molecules/Heading.astro'

const { data } = Astro.props
---

<footer class="weirdo-footer">
  <Container>
    <div class="wrapper">
      
      {data && (
        <Heading as="h1" size="md" text={data.companyName} />
        <div>
          <a class="link" href={`tel:${data.companyPhone}`}>
            <Phone size={28} />
            {data.companyPhone}
          </a>
          <a class="link" href={`mailto:${data.companyEmail}`}>
            <Mail size={28}/>
            {data.companyEmail}
          </a>
        </div>
      )}
      </div>
  </Container>
</footer>

<style>
  .weirdo-footer {
    background-color: var(--weirdo-color-accent-3);
    padding: 2rem 0;
    
    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @media(min-width: 768px) {
        flex-direction: row;
        gap: 5rem;
      }
    }

    .link {
      position: relative;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &:hover {
        color: var(--weirdo-color-white);
        fill: var(--weirdo-color-white);
      }
    }
  }
</style>