---
import { AstroFont } from 'astro-font'
import { SEO } from 'astro-seo'

import '../styles/index.css'
import '../styles/scss/styles.scss'
import ScrollToTop from '../components/atoms/ScrollToTop.astro'
import Footer from '../components/organisms/Footer.astro'
import Header from '../components/organisms/Header.astro'
import { getGlobalData } from '../data/get-global-data'

interface Props {
  title: string
  description: string
}

const globalData = await getGlobalData()

const { title, description } = Astro.props
const pathname = Astro.url.pathname.replace(/^\/+/, '')
const siteUrl = `${Astro.site}${pathname}`
---

<!doctype html>
<html lang="pl">
	<head>
    <SEO
      title={title}
      titleTemplate="%s | KS Akademia Gimnastyki"
      description={description}
      charset="UTF-8"
      canonical={siteUrl}
      openGraph={{
        basic: {
          title,
          type: "website",
          url: siteUrl,
          image: 'https://cdn.sanity.io/images/ix1jotzh/production/ed7d5108512e66179c1eafed3bebf9bd0827bdef-463x284.png',
        },
        optional: {
          description,
          locale: "pl_PL",
          siteName: "Klub Sportowy Akademia Gimnastyki",
        },
      }}
    />
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<AstroFont
      config={[
        {
          src: [],
          name: 'Archivo Narrow',
          googleFontsURL:
            'https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap',
          preload: true,
          display: 'swap',
          selector: 'body',
          fallback: 'sans-serif',
          cssVariable: 'font-body'
        },
        {
          src: [],
          name: 'Poppins',
          googleFontsURL:
            'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap',
          preload: true,
          display: 'swap',
          fallback: 'sans-serif',
          cssVariable: 'font-heading'
        }
      ]}
		/>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
	</head>
	<body>
    <Header data={globalData} />
		<slot />
    <Footer data={globalData} />
    <ScrollToTop />
    <script>
      const scrollToTopButton = document.querySelector(
        "[data-weirdo-scroll='scroll-to-top']",
      )

      if (scrollToTopButton) {
        window.addEventListener("scroll", () => {
          if (window.scrollY > 500) {
            scrollToTopButton.classList.remove("hidden")
          } else {
            scrollToTopButton.classList.add("hidden")
          }
        })
        scrollToTopButton.addEventListener("click", () => {
          window.scrollTo({
            top: 0,
            behavior: "smooth",
          })
        })
      }
    </script>
	</body>
</html>

